{% extends 'camp/base.html' %}


{% block content %}
  <div class="jumbotron">

    <h2>Please Login: </h2>
  
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class='btn btn-primary' value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <br><br>
        <p>New to Campground? <a href="{% url 'register' %}">Sign Up</a></p>
        <p>forgot password? <a href="{% url 'reset_password' %}">Reset password</a></p>
    </form>
  </div>
{% endblock %}
